* {
  @include box-sizing;
}

html {
  font-family: 'Cerebri Sans';
  font-size: 20px;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

h1 {
  font-size: 4.236em;
}

h2 {
  font-size: 2.618em;
}

h3 {
  font-size: 1.618em;
}

@media (max-width: 1024px) {
  h1 {
    font-size: 3.375em;
  }

  h2 {
    font-size: 2.25em;
  }

  h3 {
    font-size: 1.5em;
  }
}

@media (max-width: 760px) {
  h1 {
    font-size: 2.369em;
  }

  h2 {
    font-size: 1.777em;
  }

  h3 {
    font-size: 1.333em;
  }
}
