.experiences {
  background: $autumn-base;
  color: $autumn-secondary;

  &--heading {
    margin-bottom: 5rem;
    padding: 2.5rem 0 0 2.5rem;

    h2 {
      display: inline-block;
      margin: 0;
      border-top: solid 1rem;
    }

    @media (max-width: $break-medium) {
      margin-bottom: 2rem;
      padding: 1rem 0 0 1rem;

      h2 {
        border-top-width: 0.75rem;
      }
    }
  }

  &--experience {
    @extend %content-width;
    display: grid;
    grid-column-gap: 4rem;
    grid-template-columns: [logo details] auto 1fr;
    max-width: 830px;
    padding-bottom: 5rem;

    @media (max-width: $break-medium) {
      display: block;
      max-width: 450px;
      padding-bottom: 3rem;
    }
  }

  &--logo {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: $autumn-fade;

    .taskade {
      width: 60%;
    }

    .estl {
      width: 60%;
    }

    .contentco {
      width: 45%;
    }

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    @media (max-width: $break-medium) {
      width: 110px;
      height: 110px;
      margin: 0 auto 0.25rem;
    }
  }

  &--name {
    margin: 0;
    color: $autumn-primary;
    letter-spacing: -0.1rem;

    @media (max-width: $break-medium) {
      text-align: center;
    }
  }

  &--dash {
    width: 10%;
    margin: 0.5rem 0 1.5rem;
    border: 0;
    border-top: 0.25rem solid $autumn-primary;

    @media (max-width: $break-medium) {
      margin: 0.5rem auto 1rem;
      text-align: center;
    }
  }

  &--scope {
    padding: 1rem;
    background: $autumn-fade;

    h3 {
      margin: 0 0 0.5rem;
    }

    ul {
      margin: 0;
      line-height: 1.3;
    }

    a {
      border-bottom: 1.5px solid $autumn-primary;
      color: $autumn-secondary;
      text-decoration: none;

      &:hover {
        color : $autumn-primary;
      }
    }
  }
}
