.projects {
  @extend %light-on-dark-text;
  background: $summer-base;
  color: $summer-secondary;

  &--heading {
    margin-bottom: 5rem;
    padding: 2.5rem 2.5rem 0;
    text-align: right;

    h2 {
      display: inline-block;
      margin: 0;
      border-top: solid 1rem;
    }

    @media (max-width: $break-medium) {
      margin-bottom: 2rem;
      padding: 1rem 1rem 0;

      h2 {
        border-top-width: 0.75rem;
      }
    }
  }

  &--project {
    @extend %content-width;
    display: grid;
    grid-column-gap: 2rem;
    align-items: center;
    padding-bottom: 5rem;

    @media (max-width: $break-medium) {
      display: block;
      padding-bottom: 3rem;
      text-align: center;
    }

    &:nth-child(odd) {
      grid-template:
        "top top" 1fr
        "image details" auto
        "bottom bottom" 1fr
        / 40% auto;
      text-align: right;
    }

    &:nth-child(even) {
      grid-template:
        "top top" 1fr
        "details image" auto
        "bottom bottom" 1fr
        / auto 40%;
      justify-items: right;
    }
  }

  &--details {
    grid-area: details;
  }

  &--title {
    margin: 0 0 1rem;
    color: $summer-primary;
    letter-spacing: -0.12rem;
    line-height: 0.9;

    @media (max-width: $break-medium) {
      margin: 1rem 0 0.5rem;
    }
  }

  &--category {
    margin: 0 0 1rem;
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 0.05rem;
  }

  &--description {
    margin: 0;
  }

  &--link {
    display: inline-block;
    margin-top: 1rem;
    border-bottom: 1.5px solid $summer-primary;
    color: $summer-secondary;
    text-decoration: none;

    &:hover {
      color: $summer-primary;
    }
  }

  img {
    grid-area: image;
    width: 100%;
    max-width: 450px;
    border: 7px solid $summer-secondary;
    box-shadow: rgba(76, 164, 188, 15%) 0 6px 24px;
  }
}
