
.projects {
  background: $summer-base;
  color: $summer-secondary;
  padding-bottom: 5rem;


  &--heading {
    padding: 50px 50px 0;
    text-align: right;

    h2 {
      display: inline-block;
      margin: 0;
      border-top: solid 20px;
    }

    @media (max-width: 768px) {
      padding: 20px 20px 0;

      h2 {
        border-top-width: 15px;
      }
    }
  }

  &--odd {
    grid-template:
      "top top" 1fr
      "details image" auto
      "bottom bottom" 1fr
      / auto 40%;
    justify-items: right;
  }

  &--even {
    grid-template:
      "top top" 1fr
      "image details" auto
      "bottom bottom" 1fr
      / 40% auto;
    text-align: right;
  }

  &--project {
    @extend %content-width;
    padding-top: 5rem;
    display: grid;
    grid-column-gap: 2rem;
    align-items: center;

    @media (max-width: 768px) {
      padding-top: 3rem;
      grid-template:
        "top" 1fr
        "image" auto
        "details" auto
        "bottom" 1fr;
      justify-items: center;
      text-align: center;
    }
  }

  &--details {
    grid-area: details;
  }

  &--title {
    color: $summer-primary;
    margin: 0;

    @media (max-width: 768px) {
      margin: 1rem 0 0.5rem;
    }
  }

  &--category {
    font-size: 0.9rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    margin: 0 0 1rem;
  }

  &--description {
    margin: 0;
  }

  img {
    grid-area: image;
    max-width: 100%;
    border: 7px solid $summer-secondary;
  }
}
