// scss-lint:disable VendorPrefix
$white: #fff;
$grey: #eee;
$primary-color: #111;
$secondary-color: #949a9c;
$gradient-blue: #daf5ff;
$gradient-pink: #fff5eb;
$project-blue: #80c2d3;
$project-orange: #ea9f74;
$project-green: #a3ca6c;
$project-darkblue: #7f91a9;

$sans-font: 'Source Sans Pro';
$serif-font: 'Source Serif Pro';

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  transition: $args;
}

@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model;
  -moz-box-sizing: $box-model;
  box-sizing: $box-model;
}

%center-vertical {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

*,
*:after,
*:before {
  @include box-sizing(border-box);
}

* {
  font-family: $sans-font;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $serif-font;
}

.content {
  height: 100vh;
  width: 100%;
}

// Header
.header {
  background: $white;
  box-shadow: 0 1px 1px rgba(15, 20, 20, .1);
  height: 85px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.header-container {
  height: 100%;
  margin: 0 auto;
  max-width: 1200px;
  width: 80%;

  h3 {
    display: inline-block;
    line-height: 85px;

    a {
      color: $primary-color;
      font-family: $serif-font;
      font-size: 2em;
      font-weight: 700;
    }
  }

  ul {
    display: inline-block;
    float: right;
    line-height: 85px;
  }

  li {
    display: inline-block;
    font-size: 1em;
    letter-spacing: 1.5px;
    list-style-type: none;
    margin-left: 30px;
  }

  .header-link {
    color: $secondary-color;
  }

  a {
    text-decoration: none;
  }
}

// Content
.body-container {
  height: 100%;
  width: 100%;
}

.intro {
  background-image: linear-gradient(270deg, $gradient-blue 15%, $gradient-pink 100%);
  height: 99%;
  padding-top: 85px;
  position: relative;
  width: 100%;

  .intro-text {
    @extend %center-vertical;
    margin: 0 auto;
    max-width: 1200px;
    width: 80%;
  }

  h1 {
    color: $primary-color;
    font-size: 4em;
    letter-spacing: 1px;
    text-align: right;
  }

  p {
    color: $secondary-color;
    font-size: 1.3em;
    letter-spacing: .3px;
    text-align: right;
  }
}

.segment {
  background: $white;
  padding: 5% 0;
  position: relative;
  text-align: center;
  width: 100%;

  h3 {
    color: $primary-color;
    font-size: 2.3em;
  }

  p {
    color: $secondary-color;
    font-size: 1.2em;
    line-height: 1.7em;
    margin: 5px auto 0;
    max-width: 90%;
    width: 550px;
  }
}

// Footer
.footer {
  background: $grey;
  height: 85px;
  text-align: center;
}

// Project
%project {
  color: $white;
  text-align: center;
  width: 100%;

  h2 {
    font-size: 2.5em;
  }

  h4 {
    font-family: $sans-font;
    font-size: 1.2em;
    font-weight: 300;
    opacity: .6;
    padding-bottom: 30px;
  }

  p {
    font-size: 1.1em;
    font-weight: 300;
    letter-spacing: .5px;
    line-height: 1.6em;
    margin: 0 auto;
    max-width: 100%;
    width: 700px;
  }
}

.project-blue {
  @extend %project;
  background: $project-blue;

  .link-button {
    color: $project-blue;
  }
}

.project-orange {
  @extend %project;
  background: $project-orange;

  .link-button {
    color: $project-orange;
  }
}

.project-green {
  @extend %project;
  background: $project-green;

  .link-button {
    color: $project-green;
  }
}

.project-darkblue {
  @extend %project;
  background: $project-darkblue;

  .link-button {
    color: $project-darkblue;
  }
}

.project-content {
  margin: 0 auto;
  max-width: 1200px;
  padding: 5% 0;
  width: 90%;
}

// Images
%project-img {
  -webkit-box-shadow: 0 4px 10px 3px rgba(15, 20, 20, .1);
  -moz-box-shadow: 0 4px 10px 3px rgba(15, 20, 20, .1);
  box-shadow: 0 4px 10px 3px rgba(15, 20, 20, .1);
  border-radius: 5px;
  margin-bottom: 40px;
  max-width: 90%;
}

.project-img-landscape {
  @extend %project-img;
  width: 600px;
}

.project-img-portrait {
  @extend %project-img;
  width: 500px;
}

.headshot {
  border-radius: 250px;
  margin: 20px 0;
  max-width: 50%;
  width: 250px;
}

// Buttons
%button {
  @include transition(all .2s ease-out);
  display: inline-block;
  font-family: $sans-font;
  font-size: 1.3em;
  margin-top: 40px;
  padding: .6em 2em;
  text-decoration: none;
}

.link-button {
  @extend %button;
  background: $white;
  border-radius: 3px;
  font-weight: 300;

  &:hover {
    background: rgba(255, 255, 255, .8);
  }
}

.about-button {
  @extend %button;
  border: 2px solid $secondary-color;
  color: $secondary-color;
  font-weight: 400;
  margin-left: 5px;
  margin-right: 5px;
  width: 200px;

  &:hover {
    background: $secondary-color;
    color: $white;
  }

  &:last-child {
    margin-top: 10px;
  }
}

.icon-button {
  display: inline-block;
  line-height: 85px;
  margin: 0 30px;

  img {
    height: 30px;
    vertical-align: middle;
  }
}
