// scss-lint:disable VendorPrefix
$white: #fff;
$primary-color: #111;
$secondary-color: #555;
$gradient-blue: #daf5ff;
$gradient-pink: #fff5eb;

$sans-font: 'Source Sans Pro';
$serif-font: 'Source Serif Pro';

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  transition: $args;
}

@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model;
  -moz-box-sizing: $box-model;
  box-sizing: $box-model;
}

*,
*:after,
*:before {
  @include box-sizing(border-box);
}

* {
  font-family: $sans-font;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(270deg, $gradient-blue 15%, $gradient-pink 100%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $serif-font;
}

%center-vertical {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.content {
  height: 100vh;
  width: 100vw;

  &::-webkit-scrollbar {
    display: none;
  }
}

.header {
  background: $white;
  height: 85px;
}

.header-container {
  height: 100%;
  margin: 0 auto;
  max-width: 1200px;
  width: 80%;

  h3 {
    color: $primary-color;
    display: inline-block;
    font-size: 36px;
    font-weight: 700;
    margin: 20px 0;
  }

  ul {
    display: inline-block;
    float: right;
  }

  li {
    display: inline-block;
    font-size: 18px;
    letter-spacing: 1.5px;
    list-style-type: none;
    margin: 31px 0 31px 30px;
  }

  a {
    color: $secondary-color;
    text-decoration: none;
  }
}

.body-container {
  height: calc(100% - 85px);
  margin: 0 auto;
  max-width: 1200px;
  width: 80%;
}

.intro {
  font-size: 24px;
  height: calc(100% - 80px);
  position: relative;
  width: 100%;

  .intro-text {
    @extend %center-vertical;
    width: 100%;
  }

  h1 {
    color: $primary-color;
    font-size: 3em;
    letter-spacing: 1px;
    text-align: right;
  }

  p {
    color: $secondary-color;
    font-size: 1em;
    letter-spacing: .3px;
    text-align: right;
  }
}

.about {
  background: $white;
  border-radius: 10px;
  font-size: 20px;
  margin-bottom: 45px;
  padding: 35px 45px;
  width: 100%;

  h3 {
    color: $primary-color;
    font-size: 1.8em;
  }

  p {
    color: $secondary-color;
    font-size: 1em;
    line-height: 1.8;
    margin-top: 20px;
  }
}
